USE [master]
GO

IF EXISTS (SELECT * FROM sys.databases WHERE name = 'AzSmartLibraryDB')
BEGIN
    DROP DATABASE [AzSmartLibraryDB]
END
GO


CREATE DATABASE [AzSmartLibraryDB]
GO

USE [AzSmartLibraryDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tabla Autores
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL DEFAULT 1,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
) ON [PRIMARY]
GO

-- 3. Tabla Libros
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL DEFAULT 1,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
) ON [PRIMARY]
GO

-- 4. Relaciones (Foreign Key)
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO

ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors_AuthorId]
GO

-- 5. (Opcional) Datos de prueba iniciales para que el evaluador vea algo
INSERT INTO [dbo].[Authors] (Name, IsActive) VALUES ('Gabriel García Márquez', 1);
INSERT INTO [dbo].[Authors] (Name, IsActive) VALUES ('J.K. Rowling', 1);
INSERT INTO [dbo].[Authors] (Name, IsActive) VALUES ('Isaac Asimov', 1);

INSERT INTO [dbo].[Books] (Title, AuthorId, IsActive) VALUES ('Cien años de soledad', 1, 1);
INSERT INTO [dbo].[Books] (Title, AuthorId, IsActive) VALUES ('Harry Potter y la Piedra Filosofal', 2, 1);
GO